.vs/
ConvenientCommonForCS/bin/
ConvenientCommonForCS/obj/
HjsonEx/bin/
HjsonEx/obj/
packages/
Tatelier.Common/bin/
Tatelier.Common/obj/
Tatelier.DxDLL/bin/
Tatelier.DxDLL/obj/
Tatelier.Empty/bin/
Tatelier.Empty/obj/
Tatelier.Error/bin/
Tatelier.Error/obj/
Tatelier.Interface/bin/
Tatelier.Interface/obj/
Tatelier.Nucleus/Debug/
Tatelier.Nucleus/Debug-cpp/
Tatelier.Nucleus/obj/
Tatelier.Nucleus/x64/
Tatelier/bin/
Tatelier/obj/
UnitTestForTatelier/obj/
TatelierPackageManager/obj/
TatelierDiscordRPC/obj/
TatelierDiscordRPC/bin/
TatelierPackageManager/bin/
Tatelier.Interface.Module.DiscordRPC/obj/
Tatelier.Interface.Module.DiscordRPC/bin/
Tatelier.Network/obj/
Tatelier.Network/bin/
audio-convert/bin/
audio-convert/obj/
Tatelier.Config/obj/
Tatelier.Config/bin/
Tatelier.Score/obj/
Tatelier.Score/bin/
